<center><h1> here are your results, <%=firstname%> <%=lastname%><br>
<%=num1%> <%=function%> <%=num2%> = <%=answer%></h1></center>

<form method = "post" action = "return">
	<input type = "hidden" name = "firstname" value = "<%=firstname%>">
	<input type = "hidden" name = "lastname" value = "<%=lastname%>">
	
	<center>
	<input type = "submit" value = "try agian">
	</center>
	
</form>
